body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.git {
    width: 25px;
    height: 25px;
    transition: ease all .5s;
}

.git:hover {
    color: #fa8e2c;
    width: 35px;
    height: 35px;
    transition: ease all .5s;
}

.lin {
    width: 25px;
    height: 25px;
    transition: ease all .5s;
}

.lin:hover {
    color: #0a66c2;
    width: 35px;
    height: 35px;
    transition: ease all .5s;
}

#nav-div {
    width: 100%;
    height: fit-content;
    padding-block: 20px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-div > h1 {
    text-align: left !important;
    margin-left: 3rem;
    font-weight: 900;
}

@media screen and (min-width: 769px) {
    nav {
        display: flex;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    #nav-div > h1 {
        display: none;
    }
}

a {
    all: unset;
}

#Me {
    margin-inline: auto;
    height: 50vh;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    border-radius: 16px;
}

.item-1 > h1 {
    margin-top: 2.5rem;
    margin-left: 3.5rem;
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: -8%;
}

.item-1 > p {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    color: #818181;
}

.item-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-2 > svg {
    margin-top: 7rem;
    margin-left: 2rem;
}

#Tech-Stack > h4 {
    margin-left: 17vw;
    margin-top: 3rem;
    font-weight: 600;
}

#About-Me {
    height: 50vh;
    background-color: #e8e8e8;
    border-radius: 32px;
    margin-inline: auto;
    margin-block: 5rem;
    display: flex;
    justify-content: stretch;
}

.abt-item {
    width: 50%;
    height: 100%;
}

#About-Me > .img {
    background-image: url(./assets/images/Computer.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1360/891;
    height: 250px;
    width: auto;
    border-radius: 12px;
}

#Computer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: 85%;
    top: 70%;
}

.abt > label {
    font-weight: 900;
    color: #0a66c2;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.abt > h3 {
    margin-left: 3rem;
}

.abt > p {
    margin-left: 7rem;
    color: #818181;
}

.grad {
    background: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 1%,
        hsl(262deg 100% 25%) 40%,
        hsl(284deg 100% 31%) 48%,
        hsl(305deg 100% 36%) 51%,
        hsl(327deg 100% 42%) 51%,
        hsl(349deg 100% 47%) 50%,
        hsl(354deg 100% 50%) 50%,
        hsl(341deg 100% 50%) 49%,
        hsl(329deg 100% 50%) 49%,
        hsl(317deg 100% 50%) 52%,
        hsl(304deg 100% 50%) 60%,
        hsl(292deg 100% 50%) 99%
      );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-weight: 900;
}

#Underline {
    padding: 30px 0 8px;
    position: relative;
}

#Underline::before {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 16px;
    width: 130px;
    height: 14px;
    transform: skew(-12deg) translateX(-25%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
}

#skillz {
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 3px;
    background-repeat: repeat-x;
    
}

#Projects {
    width: 100%;
}

#Projects > h2 {
    margin-left: 5rem;
    font-weight: 900;
}

.💫 {
    height: 300px;
    background-color: #0a66c2;
    margin-inline: auto;
    margin-block: 5rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
}

.✨ {
    background-color: white;
}

.✨ > * {
    margin-block: 25px;
    margin-left: 5px;
}

.✨ > h2 {
    font-weight: 900;
    text-align: center;
}

.✨ > p {
    color: #818181;
    text-align: center;
}

.✨ > .visit {
    margin-left: 75%;
}

.🔗 > img {
    width: auto;
    height: 250px;
    margin-block: 25px;
    margin-left: 5px;
    border: 0.5px solid black;
    border-radius: 12px;
}

.🔗 > img:hover {
    box-shadow: 12px 12px black;
    transition: all .5s ease;
}

#Contact {
    width: 100%;
    background-color: #111111;
}

#Contact > h2 {
    margin-left: 5rem;
    font-weight: 900;
    color: white;
}

#💬 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon svg {
    fill: white;
  }
  
  .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    height: 270px;
  }
  
  .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
